/* 
Created on : Oct 18, 2017, 8:51:44 AM
Author     : Raymond Sugiarto
*/


/**
* TABLE OF CONTENTS
*
*  1. GLOBAL
*      1.1 HEADER
*      1.2 BODY
*      1.3 FOOTER
*  2. HELPER
*      2.1 GENERAL
*      2.2 FORM
*      2.3 ICON
*      2.4 DATATABLE
*      2.5 SELECT2
*      2.6 MODAL
*      2.7 BUTTON
*      2.8 TAB
*      2.9 DATEPICKER
*      2.10 AUTOCOMPLETE
*  3. PLUGINS
*  4. PAGE
*      4.1 HOME
*      4.2 SERVICE
*      4.3 CHECK AWB
*      4.4 DELIVERY FEE
*      4.5 FAQ
*      4.6 LOCATION
*      4.7 CMS PAGE
*      4.8 CONTACT US
*      4.9 CAREER
*      4.10 PROMO
*      
**/



/* 4.3 CHECK AWB */
.check-awb-container {
}
.check-awb-container .title {
    background: #fff;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    padding-top: 77px;
    padding-bottom: 22px;
}
.check-awb-container .check-awb-content {
    background-color: #fff;
    padding: 16px;
    margin-bottom: 50px;
}
.check-awb-container .check-awb-wrapper {
    /* width: 50%; */
    margin: auto;
}
.check-awb-container .check-awb-wrapper .awb-input-field .input-awb {
    height: 45px;
}
.check-awb-container .awb-input-field .row:first-child .input-awb {
    border-top-right-radius: 3px;
    border-bottom: 0;
}
.check-awb-container .awb-input-field .row:first-child .input-group-addon {
    border-top-left-radius: 3px;
    border-bottom: 0;
}
.check-awb-container .awb-input-field .row:last-child .input-awb {
    border-bottom-right-radius: 3px;
    border-top: 0;
}
.check-awb-container .awb-input-field .row:last-child .input-group-addon {
    border-bottom-left-radius: 3px;
    border-top: 0;
}
.check-awb-container .awb-input-field .row.new .input-group-addon {
    border-top: 0;
}
.check-awb-container .awb-input-field .row.new .input-awb {
    border-top: 0;
    border-bottom-right-radius: 0px;
    border-right: 0;
}
.check-awb-container .awb-input-field .row.new .trash {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 3px;
    color: #d0021b;
}
.check-awb-container .awb-input-field .row.new .trash i {
    opacity: 0.6;
    cursor: pointer;
}
.check-awb-container .check-awb-wrapper #new-resi {
    line-height: 3;
    color: #d0021b;
    font-size: 16px;
}
.check-awb-container .check-awb-wrapper .btn-check {
    border-radius: 3px;
    background-color: #d0021b;
    padding: 17px 60px;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.69;
    letter-spacing: normal;
    text-align: center;
    border: none !important;
    color: #ffffff;
}
@media (max-width: 991px) {
    .check-awb-container .check-awb-wrapper .btn-wrapper {
        text-align: center !important;
        margin-top: 20px;
    }
}
.check-awb-container .check-awb-wrapper .ws-info {
    color: #ffffff;
    font-family: '__Titillium Web_5';
    text-align: justify;
    font-weight: 600;
    font-size: 10px;
}

.awb-result {
}
.awb-result .title {
    background-color: #283842;
    color: #ffffff;
    font-weight: 700;
    padding: 6px 0px;
    font-size: 14px;
}
.awb-result .awb-detail-title {
    background: #fff;
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #676767;
    padding-bottom: 18px;
}
.awb-result .awb-detail-sub-title {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
    color: #676767;
    margin-bottom: 42px;
}
.awb-result .res-item:hover td {
    background: #fafafa !important;
}
.awb-result .res-item td {
    cursor: pointer;
}
.awb-result .res-detail td {
    background: rgb(199, 211, 214);
}
.awb-result .res-detail .detail-title {
    color: #d3232a;
    font-weight: 600;
    text-align: left;
    margin-bottom: 15px;
    font-size: 14px;
}
#awb-list th {
    padding: 14px 16px 18px 16px;
    background-color: #fff;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    text-align: left;
    letter-spacing: normal;
    color: #000000;
}
#awb-list #service {
    width: 10%;
}
#awb-list td {
    padding: 14px 16px 18px 16px;
    background-color: #fff;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    text-align: left;
    letter-spacing: normal;
    color: #4a4a4a;
}
.awb-result .res-detail .ws-table tr th {
    background-color: #daecf1;
    text-align: center;
    padding-bottom: 11px;
    border: 1px solid #daecf1;
}
.awb-result .res-detail .ws-table tr td {
    border: 1px solid #daecf1;
    background: #ffffff;
}

/* 4.4 DELIVERY FEE */
.ws-deliveryfee-page {
    font-family: '__Titillium Web_5';
}
.ws-deliveryfee-page .deliveryfee-title {
    background: #fff;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    padding-top: 77px;
    padding-bottom: 22px;
}
.ws-deliveryfee-page .deliveryfee-title img {
    margin-right: 17px;
    margin-bottom: 4px;
}
.ws-deliveryfee-page .img-bottom {
    background-color: #ffff;
    width: 100%;
    opacity: 0.7;
}
.ws-deliveryfee-page .content {
    background-color: #fff;
}
.ws-deliveryfee-page .content .img-fee {
    width: 350px;
    height: 350px;
}
.ws-deliveryfee-page .content .ws-home-check-left .ws-home-check-title-left {
    font-size: 24px;
    color: #283842;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: -15;
}
.ws-home-check-left .fare-result {
    /* margin-left:-15px;
    margin-right:-15px; */
    margin-top: 35px;
}
.ws-home-check-left .fare-result .ws-table {
    border: 1px solid #d8d8d8;
    width: 100%;
}
.ws-home-check-left .fare-result .ws-table thead th,
.ws-home-check-left .fare-result .ws-table tbody tr td {
    /* border: 1px solid #283842; */
    text-align: left;
    padding: 14px 24px 18px 24px;
}
.ws-home-check-left .fare-result .ws-table thead th {
    background-color: #f1f2f4;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #000000;
}
.ws-home-check-left .fare-result .ws-table tbody tr td {
    border-color: #dadada !important;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.69;
    letter-spacing: normal;
    color: #4a4a4a;
}
.ws-home-check-left .fare-result .title {
    background-color: #283842;
    color: #ffffff;
    font-weight: 700;
    padding: 6px 0px;
    font-size: 14px;
}
.ws-home-check-left .check-form label {
    text-align: left !important;
    margin-top: 5px;
}
.ws-home-check-left .check-form input {
    height: 45px;
    border-radius: 3px;
}
.ws-home-check-left .check-form .input-group-addon {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.ws-deliveryfee-page .check-form .btn-check {
    border-radius: 3px;
    background-color: #d0021b;
    padding: 17px 60px;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.69;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 13px;
}


/* 4.6 LOCATION */
.ws-location-page {
    font-family: '__Titillium Web_5';
}
.ws-location-page .location-title {
    background: #fff;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    padding-top: 77px;
    padding-bottom: 22px;
}
.ws-location-page .location-sub-title {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
    color: #676767;
    margin-bottom: 70px;
}
.ws-location-page .location-detail-wrap {
    background: #fff;
    padding-bottom: 70px;
}
.ws-location-page .location-detail-title {
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    padding-top: 77px;
    padding-bottom: 30px;
}
.ws-location-page .location-detail-wrap .location-content {
    background-color: #f9f9f9 !important;
}
.ws-location-page .location-content {
    background: #fff;
    /* padding-bottom:80px; */
}
.ws-location-page .location-content .nav-pills {
    background-color: #fff;
    font-size: 14px;
    font-weight: 700;
    margin: auto;
}
.ws-location-page .location-content .nav-pills li + li {
    margin: auto;
}
.ws-location-page .location-content .nav-pills li:not(:last-child):after {
    content: '';
    position: absolute;
    top: 11px;
    right: 0;
    height: 24;
    width: 2px;
    background: rgba(169, 169, 169, 0.2);
}
.ws-location-page .location-content .nav-pills li .tab-bottom-divider {
    min-height: 5px;
    border-radius: 30px;
    box-shadow: 0 2px 5px 0 rgba(192, 192, 200, 0.61);
    background-color: #ffffff;
}
.ws-location-page .location-content .nav-pills li a {
    overflow: hidden;
    height: 44px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #676767;
}
.ws-location-page .location-content .nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    border-top-color: #fff;
    background-color: #fff;
}
.ws-location-page .location-content .nav-pills > li:not(.active) > a:hover {
    background-color: #fff;
}
.ws-location-page
    .location-content
    .nav-pills
    > li:not(.active):hover
    .tab-bottom-divider {
    background-color: #d0021b;
}
.ws-location-page .location-content .nav > li > a:active {
    border-top-color: #fff;
    background-color: #fff;
    color: #f5f5f5;
}

.ws-location-page .location-content .nav > li > a:focus {
    border-top-color: #fff;
    background-color: #fff;
}
.ws-location-page .location-content .nav > li.active {
    border-top-color: #fff;
    background-color: #fff;
}
.ws-location-page .location-content .nav > li.active a {
    color: #d0021b;
}
.ws-location-page .location-content .nav > li.active .tab-bottom-divider {
    background-color: #d0021b;
}
.ws-location-page .location-content .tab-content {
    padding-top: 38px;
    background: #ffffff;
}

.ws-location-page .location-content .content-detail,
.sf-express .content-detail {
    background-color: #d0021b;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    padding: 19px 16px;
}
.ws-location-page .location-content .content-detail.collapsed,
.sf-express .content-detail.collapsed {
    background-color: #fff;
    /* border:1px solid #ffffff; */
    color: #676767;
    font-weight: 400;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    padding: 19px 16px;
    cursor: pointer;
}
.ws-location-page .location-content .content-detail .address-image,
.sf-express .content-detail .address-image {
    width: 0;
    visibility: hidden;
    margin-right: 0;
    transition: 1s;
}
.ws-location-page .location-content .content-detail.collapsed .address-image,
.sf-express .content-detail.collapsed .address-image {
    width: 20px;
    visibility: visible;
    margin-right: 12px;
    transition: 1s;
}
.ws-location-page .location-content .content-detail .address-arrow,
.sf-express .content-detail .address-arrow {
    width: 28px;
    float: right;
}
.ws-location-page .location-content .content-detail.collapsed:hover,
.sf-express .content-detail.collapsed:hover {
    background-color: #f2f2f2;
    /* border:1px solid #ffffff; */
    color: #283842;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.ws-location-page .location-content #detail-table {
    margin-bottom: 0px;
}
.ws-location-page .location-content #detail-table th {
    padding: 14px 16px 18px 16px;
    background-color: #f1f2f4;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    text-align: left;
    letter-spacing: normal;
    color: #000000;
}
.ws-location-page .location-content #detail-table #detail_see {
    width: 15%;
}
.ws-location-page .location-content #detail-table.table > tbody > tr {
    cursor: pointer;
    border-color: #d8d8d8;
}
.ws-location-page .location-content #detail-table.table > tbody > tr > td {
    font-weight: 400;
    padding: 14px 16px 18px 16px;
    font-size: 13px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    text-align: left;
    letter-spacing: normal;
    color: #4a4a4a;
}
.ws-location-page
    .location-content
    #detail-table.table
    > tbody
    > tr
    > td:last-child {
    color: #d0021b;
    text-align: right;
}
.ws-location-page
    .location-content
    #detail-table.table
    > tbody
    > tr
    > td:hover {
    color: #000;
}
.ws-location-page .location-content #detail-table.table > tbody > tr > td.bold {
    color: #283842;
    font-weight: 700;
}
.ws-location-page
    .location-content
    #detail-table.table
    > tbody
    > tr
    > td.bold:hover {
    color: #0db2af;
}
.ws-location-page
    .location-content
    #detail-table.table
    > tbody
    > tr
    > td
    .img-drop {
    margin-right: 15px;
}
.ws-location-page .location-content .panel-default,
.sf-express .panel-default {
    /* border-color:#ffffff; */
    border: 0;
    border-radius: 0;
}
.ws-location-page .location-content .panel-default > .panel-heading,
.sf-express .panel-default > .panel-heading {
    padding: 0px;
}
.ws-location-page
    .location-content
    .panel-default
    > .panel-heading
    + .panel-collapse
    > .panel-body,
.sf-express .panel-default > .panel-heading + .panel-collapse > .panel-body {
    background-color: #f1f2f4;
    color: #999999;
    font-size: 14px;
    padding: 0px;
}
.ws-location-page .location-content .panel-group,
.sf-express .panel-group {
    border: 1px solid #d6d6d6;
}
.ws-location-page .location-content .panel-group .panel:not(:last-child),
.sf-express .panel-group .panel:not(:last-child) {
    border-bottom: 1px solid #d6d6d6;
}
.ws-location-page .location-content .panel-group .panel + .panel,
.sf-express .panel-group .panel + .panel {
    margin-top: 0px;
}
.ws-location-page .container .location-content {
    background: #ffffff;
    padding-bottom: 0px;
}
.ws-location-page .container .location-content .location-map {
    background: #f5f5f5;
    min-height: 450px;
    padding: 0px;
}
.ws-location-page .container .location-content .location-info {
    margin-top: 35px;
    margin-bottom: 15px;
}
.ws-location-page .container .location-content .location-content-title {
    color: #1b2a34;
    font-size: 24px;
    font-weight: 600;
}
.ws-location-page .container .location-content .location-content-city {
    color: #283842;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}
.ws-location-page .container .location-content .location-content-address {
    color: #283842;
    font-size: 14px;
    font-weight: 400;
}
#map_canvas {
    width: 100%;
    height: 450px;
}

/* 4.10 PROMO */
.ws-promo-page {
}
.ws-promo-page .ws-promo-banner {
    margin-bottom: 70px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);
}
.ws-promo-page .ws-promo-banner .item {
    max-height: 570px;
    overflow: hidden;
}
.ws-promo-page .promo-card {
    width: 100%;
    min-height: 400px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);
    margin-bottom: 30px;
}
.ws-promo-page .promo-card .promo-img {
    width: 100%;
    height: 200px;
    background: url('../img/city.png');
    background-color: #cd2028;
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}
.ws-promo-page .promo-card .promo-info {
    padding: 17px;
    font-size: 14px;
    font-weight: 500;
    color: #000;
}
.ws-promo-page .promo-card .promo-periode {
    padding: 0px 17px;
}
.ws-promo-page .promo-card .promo-periode table td {
    font-weight: 500;
    padding-right: 15px;
    color: #4a4a4a;
    font-size: 12px;
    vertical-align: middle;
}
.ws-promo-page .promo-card .promo-link {
    text-align: center;
    margin-top: 20px;
}
.ws-promo-page .promo-card .btn-show-service {
    border-radius: 3px;
    text-align: center;
    background: #cd2028;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.56;
    letter-spacing: 0.5px;
    color: #fff;
    padding: 15px 35px;
}
/* PAGE NEWS */
.ws-news-page {
    font-family: inherit;
}
.ws-news-page .page-title {
    /* background-color: #cd2028; */
    text-align: center;
    min-height: 198px;
    padding-top: 90px;
    position: relative;
    background: url('../img/sicepatnews.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* .ws-news-page .page-title img{
    width: 100%;
    height: 230px;
} */
.ws-news-page .page-title h1{
    margin: auto;
    width: 100%;
    color: white;
    font-family: inherit;
    /* position: absolute;
    top: 100; */
    font-weight: 600;
    font-size: 30px;
}
.ws-news-page .news-tab {
    padding: 20px 0;
}
.ws-news-page .news-tab .nav-pills>li>a {
    font-family: inherit !important;
    font-weight: 600;
    margin-right: 20px;
    font-size: 16px;
    padding: 10px 30px;
}
.ws-news-page .news-tab .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #cd2028;
    border-color: #cd2028;
}
.ws-news-page .news-slider {
    background-color: #f5f5f5;
    padding: 30px 0;
}
.ws-news-page .news-slider .carousel .carousel-control { visibility: hidden; }
.ws-news-page .news-slider .carousel:hover .carousel-control { visibility: visible; }
.ws-news-page .news-slider .carousel-inner img{
    height: 370px;
}
.ws-news-page .news-slider .news-slider-title {
    color: #000;
    font-family: inherit;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 10px;
}
.ws-news-page .news-slider .news-slider-description {
    font-size: 14px;
    font-family: inherit;
    margin-bottom: 16px;
    max-height: 240px;
    overflow: hidden;
}
.ws-news-page .news-slider .news-slider-date {
    color: #cd2028;
    font-size: 16px;
    font-weight: 600;
    font-family: inherit;
    margin-bottom: 14px;
}
.ws-news-page .news-slider .carousel-indicators {
    bottom: 0;
    margin-left: 0;
    text-align: left;
    left: 0;
}
.ws-news-page .news-slider .carousel-indicators .active {
    background-color: #b9b9b9;
}
.ws-news-page .news-slider .carousel-indicators li {
    border-color: #c5c5c5;
}
.ws-news-page .news-highlight {
    padding: 30px 0;
}
.ws-news-page .news-highlight .thumbnail {
    border: 0px;
    font-family: inherit !important;
    padding: 0;
}
.ws-news-page .news-highlight .thumbnail img{
    height: 150px;
    max-height: 150px;
}
.ws-news-page .news-highlight .thumbnail .caption {
    padding: 9px 0;
}
.ws-news-page .news-highlight .thumbnail .news-highlight-title {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    height: 58px;
    overflow: hidden;
}
.ws-news-page .news-highlight .thumbnail .news-highlight-description{
    position: relative;
    height: 40px;
    overflow: hidden;
    margin-bottom: 20px;
}
.ws-news-page .news-highlight .thumbnail .news-highlight-date {
    color: #cd2028;
    font-weight: 600;
}
.ws-news-page .news-highlight .btn-read-more, .ws-news-page .news-detail-share .btn-news-back{
    color: white;
    background: #cd2028;
    padding: 8px 22px;
}
.ws-news-page .news-detail-share{
    padding-top: 70px;
    padding-bottom: 70px;
}
.ws-news-page .news-detail-content{
    padding-top: 70px;
    padding-bottom: 70px;
    font-size: 16px;
}
.ws-news-page .news-detail-content .breadcrumb{
    background-color: #fff;
    padding: 8px 0;
}
.ws-news-page .news-detail-content li{
    font-weight: 600;
}
.ws-news-page .news-detail-content .breadcrumb li a{
    text-decoration: none;
    font-weight: 400;
    color: #cd2028;
}
.ws-news-page .news-detail-content .news-detail-title {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 24px;
    font-weight: 600;
}
.ws-news-page .news-detail-content .news-detail-date {
    font-size: 16px;
    margin-bottom: 32px;
}
.ws-news-page .news-tab .nav-pills.nav-stacked {
    margin-bottom: 12px;
}
.ws-news-page .news-tab .navbar-collapse{
    padding-left: 0;
    padding-right: 0;
}
.ws-news-page .news-tab .navbar-header a{
    padding-right: 15px;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    line-height: 2.2;
}
.ws-news-page .news-tab .navbar-header .navbar-toggle {
    padding-right: 0;
}
.ws-news-page .news-tab .navbar-header .navbar-toggle span {
    background: #000;
}
.ws-news-page .news-tab .nav-pills.nav-stacked>li>a{
    margin-right: 0;
}
.ws-news-page .news-tab .nav-pills.nav-stacked>li.active>a{
    color: #fff;
}
.ws-news-page .news-detail-share .news-detail-share-icon {
    margin-top: 200px;
}
.ws-news-page .news-detail-share .news-detail-share-icon li {
    list-style: none;
    margin-bottom: 15px;
}
.ws-news-page .news-detail-share .news-detail-share-icon li img{
    width: 20px;
    height: 20px;
}
.ws-news-page .news-detail-share .news-detail-share-icon li p {
    font-size: 16px;
    font-weight: 600;
}
.ws-news-page .news-detail-content .news-detail-share-icon {
    margin-bottom: 0;
    padding-left: 0;
}
.ws-news-page .news-detail-content .news-detail-share-icon li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 15px;
}
.ws-news-page .news-detail-content .news-detail-share-icon li img{
    width: 20px;
    height: 20px;
}
.ws-news-page .news-detail-content .news-detail-share-icon li p {
    font-size: 16px;
    font-weight: 600;
}
@media (max-width: 991px) {
    .ws-news-page .news-detail-share{
        padding-top: 70px;
        padding-bottom: 0;
    }

    .ws-news-page .news-detail-content .news-detail-date {
        margin-bottom: 18px;
    }

    .ws-news-page .news-highlight .thumbnail img{
        height: auto;
        max-height: none;
    }

    .ws-news-page .news-slider .carousel-inner img{
        height: auto;
    }
}
.ws-home-page .ws-home-slider .table-h3lo {
    width: 100%;
    background-color: #fff;
}
.ws-home-page .ws-home-slider .table-h3lo td, .ws-home-page .ws-home-slider .table-h3lo th {
    border: 1px solid #e1e1e1;
    font-size: 12px;
    text-align: center;
}

.fake-link {
    color: #0064bd;
    text-decoration: none;
    cursor: pointer;
}

.w-100 {
    width: 100%;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.mb-0 {
    margin-bottom: 0 !important;
}


.track-awb-detail {
    margin: 0 -30px;
}

.track-awb-detail-item {
    margin: 0 30px;
}

.track-awb-detail-item h5 {
    font-weight: bold;
}

.track-awb-detail-item p {
    margin-bottom: 0;
}

.track-awb-detail-item-label {
    margin-bottom: 30px;
}

.track-awb-img {
    margin: 0 -20px;
}

.track-awb-img-item {
    margin: 0 20px;
}

.track-awb-img-item h5 {
    font-weight: bold;
    text-align: center;
    width: 100px;
    max-width: 100px;
}

.track-awb-img-item img {
    width: 100px;
    max-width: 100px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.track-awb-img-item p {
    max-width: 100px;
    text-align: center;
    line-height: 1.4;
}

.history-awb-timeline {
    list-style-type: none;
    position: relative;
}
.history-awb-timeline:before {
   /* content: ' ';
    background: #d8d8d8;
    display: inline-block;
    position: absolute;
    left: 138px;
    width: 2px;
    height: 90%;
    margin-top: 6px;
    z-index: 400;*/
    content: "";
    display:inline-block;
    width: 0px;
    height: 100%;
    border:1px dashed #d8d8d8;
    position: absolute;
    top:0;
    left: 138px;
    z-index: 400;
    margin-top: 6px;

   
       

}
.history-awb-timeline > li {
    /*margin-bottom: 20px;
    padding-left: 20px;*/
}
.history-awb-timeline > li:before,.history-awb-timeline > li:after {
  /*  content: ' ';
    left: 133px;
    background: #d0021b;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 0px;
    margin-top: 6px;
    width: 12px;
    height: 12px;
    z-index: 400;*/
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background:#ff6d6d;
    border:2px solid #fff;
    position: absolute;
    left:-7.5px;
    left: 133px;
    z-index: 400;
}

.history-date {
    left: -30px;
   
    position: relative;
    min-width: 80px;
    margin-bottom: 3px;
    margin-right: 38px;
}

.history-date h5 {
    margin: 0;
    margin-top: 2px;
    font-weight: bold;
    font-size:1em;
}

.history-date p {
    margin-bottom: 0;
}

.history-detail {
    position: relative;
    left: -8px;
}